body{ background-color: rgb(246, 253, 205);
    display: flex;
      justify-content: center;
      flex-direction: column

}
h1{
  text-align: center; 
  
}
tr:nth-child(n){
    background-color: #d19494;   
}
td{padding: 1%}
table{margin: 0% 15%;}
.prueba{
  background-color: teal
}
.nombre{font-size: 1.3em;
  background-color: gray;
}
.cabecera{background-color: grey}
hr{background-color: black;
  width: 60%;
box-shadow: 2px 2px 2px 2px black}